.banner-sec{
    background-image: url("https://res.cloudinary.com/dykpzjtxe/image/upload/v1726386739/cld-sample-4.jpg");
    height: 90vh;
    background-size: cover;
  }
  .banner-heading {
    color: black;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
    
  }
  .banner-caption {
    color: black;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
    
  }
  .custom-button {
    color: black;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }
  .custom-outline-button {
    color: black;
    background-color:whitesmoke;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
  }
  .text{
    text-align: center;
 
  }
  .cards{
    text-align: center;
  }
  .head{
    text-align: left;
  }
  .para{
    text-align: left;
  }
  .emh{
    color:black
  }
  .non-veg{
    width:100%;
    border-radius:10px;
  }
  .veg{
    height:59%;
    width:100%;
  }
  .fullcourse{
    height:59%;
    width:100%;
  }
  .desserts{
    height:59%;
    width:100%;
  }
  .beverages{
    height:70%;
    width:100%;
  }
  .soup{
    height:59%;
    width:100%;
  }
 .order img,
.followus img {
width: 50%;
  height: 110px;
  object-fit: contain;
  border-radius: 10px;
  padding: 10px;       /* adds breathing space */
  background: transparent;    /* optional clean background */
}
.wcu img{
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
  padding: 10px;       /* adds breathing space */
  background: transparent;    /* optional clean background */
}

.wcu {
  background-color: grey; /* light cream */
  padding: 40px 0;
}

.explore_menu {
  background-color: rgb(159, 159, 10); /* light bluish */
  padding: 40px 0;
}

.order {
  background-color: grey; /* light green */
  padding: 40px 0;
  
}

.followus {
  background-color: grey; /* light pink */
  padding: 40px 0;
}
